
body {
  font-family: 'Times New Roman', Times, serif; 
  margin: 0;
  padding: 0;
}

/* Header */
header nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: #f5f5f5;
}

header nav a {
  text-decoration: none;
  color: #333;
}

/* Hauptüberschrift */
h1 {
  text-align: center;
  margin-top: 1rem;
  font-family: 'Times New Roman', Times, serif; 
}

.newsletter {
  text-align: center;
  margin-top: 5px;
}


/* Grid für Projekte */
.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

/* Einzelnes Projekt */
.work-item {
  text-align: center;
}

.work-item img {
  width: 90%;      
  max-width: 220px; 
  display: block;
  border-radius: 0px;
  margin: 0 auto;   
}

.work-item h2 {
  margin: 0.5rem 0 0.2rem;
  font-family: 'Times New Roman', Times, serif; /* Überschriften auch Times */
}

.work-item p {
  font-size: 0.9rem;
  color: #555;
  font-family: 'Times New Roman', Times, serif; /* Fließtext auch Times */
}
